# OpenAI API Key (required)
GROQ_API_KEY=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

# Model configuration (optional - defaults provided)
EMBEDDING_MODEL=text-embedding-3-small
LLM_MODEL=gpt-4-turbo-preview
TEMPERATURE=0.1
MAX_TOKENS=1000

# Vector store configuration
CHUNK_SIZE=800
CHUNK_OVERLAP=200
TOP_K_RESULTS=5
